/PooNet/nbproject/private/
/PooNet/build/
/PooNet/Exercicios/nbproject/private/
/PooNet/EXERCICIO/nbproject/private/
/PooNet/PROVA01/nbproject/private/
/PooNet/Poonet/nbproject/private/
/PooNet/Curso em video/nbproject/private/
/PooNet/Curso em video/build/
/PooNet/Aula06/nbproject/private/
/PooNet/Aula06/build/
/PooNet/Aula02/nbproject/private/
/PooNet/Aula05/nbproject/private/
/PooNet/Aula07/nbproject/private/
/PooNet/Aula07/build/
/PooNet/Prova03/nbproject/private/
/PooNet/Prova03/build/
/PooNet/TrabalhoFinal/nbproject/private/
